<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About Engine Stats
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">About</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content padding>
    <ion-grid>
      <ion-row>
        <ion-col width-100>
          <ion-list>
            <ion-item>
              <strong>Name:</strong> eMonitor
            </ion-item>
            <ion-item>
              <strong>Version:</strong> 1.0.0 (prototype)
            </ion-item>
            <ion-item>
              <strong>Description:</strong> 
            </ion-item>
            <ion-item>
               This application monitors critical engine information such as temperature, oil pressure, etc.
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>

</ion-content>

